<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <h1>Shop CoderHouse</h1>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
                <li><a href="/cart/67bce9956195aea12778e074">CARRITO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p class="rights-reserved">&copy; 2025 Mi Tienda - Todos los derechos reservados Project CoderHouse</p>
    </footer>
</body>
</html>
